{% load static %}
{% block body %}
{% include 'nav.html' %}
<style>
    .container{
    max-width : 90%;
    }
</style>
<div class="container-fliud" style="margin-top:1%">
    <img src="{% static 'image/c7.png' %}" height="450px" width="100%">
</div>
<div class="container" style="background-color:green; height:650px; margin-top:2%">
<h1 class="text-center text-white">------| OUR PLACED STUDENTS |------</h1>
    <div class="row mt-3">
        <div class="col-md-3">
            <img src="{% static 'image/c6.JPG' %}" style="width:100%; margin-top:5%; height:200px; border-radius:50%;">
            <div>
                <h3 class="text-center">Facebook</h3>
            </div>
        </div>
         <div class="col-md-3">
            <img src="{% static 'image/c9.JPG' %}" style="width:100%; margin-top:5%; height:200px; border-radius:50%;">
            <div>
                <h3 class="text-center">Amazone</h3>
            </div>
        </div>
         <div class="col-md-3">
            <img src="{% static 'image/c10.JPG' %}" style="width:100%; margin-top:5%; height:200px; border-radius:50%;">
            <div>
                <h3 class="text-center">ZIIBAY SOFT</h3>
            </div>
        </div>
         <div class="col-md-3">
            <img src="{% static 'image/c8.JPG' %}" style="width:100%; margin-top:5%; height:200px; border-radius:50%;">
            <div>
                <h3 class="text-center">Python Developer</h3>
            </div>
        </div>
    </div>

      <div class="row mt-3">
        <div class="col-md-3">
            <img src="{% static 'image/c20.JPG' %}" style="width:100%; margin-top:5%; height:200px; border-radius:50%;">
            <div>
                <h3 class="text-center">Fluter developer</h3>
            </div>
        </div>
         <div class="col-md-3">
            <img src="{% static 'image/c13.JPG' %}" style="width:100%; margin-top:5%; height:200px; border-radius:50%;">
            <div>
                <h3 class="text-center">Wordpress developer</h3>
            </div>
        </div>
         <div class="col-md-3">
            <img src="{% static 'image/c12.JPG' %}" style="width:100%; margin-top:5%; height:200px; border-radius:50%;">
            <div>
                <h3 class="text-center">PHP developer</h3>
            </div>
        </div>
         <div class="col-md-3">
            <img src="{% static 'image/c11.JPG' %}" style="width:100%; margin-top:5%; height:200px; border-radius:50%;">
            <div>
                <h3 class="text-center">Andriod</h3>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}